﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="DocumentPz.aspx.cs" Inherits="MagWeb.WarehouseDocuments.DocumentPz" %>

<%@ Register TagPrefix="uc1" TagName="DocPrintLayoutFooter" Src="~/WarehouseDocuments/DocPrintLayoutFooter.ascx" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <telerik:RadScriptManager ID="RadScriptManager1" runat="server">
    </telerik:RadScriptManager>
    <table width="650">
        <tr>
            <td align="right">
                <table>
                    <tr>
                        <td>
                            <asp:Label ID="Label22" runat="server" Text="Data wydruku"></asp:Label>
                        </td>
                        <td>
                            <asp:Label ID="DocumentDate" runat="server" Text="DocumentDate"></asp:Label>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table width="650" border="1">
        <tr>
            <td rowspan="6">
                <asp:Label ID="Company" runat="server" Text="Company"></asp:Label>
            </td>
            <td>
                <asp:Label ID="DocumentType" runat="server" Text="PZ"></asp:Label>
            </td>
            <td>
                <asp:Label ID="DocumentDescription" runat="server" Text="Przyjęcie zewnętrzne"></asp:Label>
            </td>
        </tr>
        <tr>
            <td>
                <asp:Label ID="Label3" runat="server" Text="Nr dokumentu"></asp:Label>
            </td>
            <td>
                <asp:Label ID="DocumentId" runat="server" Text="DocumentId"></asp:Label>
            </td>
        </tr>
        <tr>
            <td>
                <asp:Label ID="Label4" runat="server" Text="Data dostawy"></asp:Label>
            </td>
            <td>
                <asp:Label ID="Date" runat="server" Text="Date"></asp:Label>
            </td>
        </tr>
        <tr>
            <td>
                <asp:Label ID="Label5" runat="server" Text="Magazyn"></asp:Label>
            </td>
            <td>
                <asp:Label ID="Warehouse" runat="server" Text="Warehouse"></asp:Label>
            </td>
        </tr>
        <tr>
            <td>
                <asp:Label ID="Label6" runat="server" Text="Dostawca / Firma"></asp:Label>
            </td>
            <td>
                <asp:Label ID="ContractingParty" runat="server" Text="ContractingParty"></asp:Label>
            </td>
        </tr>
        <tr>
            <td>
                <asp:Label ID="Label9" runat="server" Text="Operator"></asp:Label>
            </td>
            <td>
                <asp:Label ID="Author" runat="server" Text="Author"></asp:Label>
            </td>
        </tr>
        <tr>
            <td>
                <asp:Label ID="Label11" runat="server" Text="Zamówienie"></asp:Label>
            </td>
            <td colspan="2">
                <asp:Label ID="OrderNumberPZ" runat="server" Text="OrderNumberPZ"></asp:Label>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <telerik:RadGrid ID="DataRadGrid" runat="server" OnNeedDataSource="DataRadGrid_OnNeedDataSource"
                    OnItemDataBound="RadGrid_ItemDataBound" AutoGenerateColumns="False" GridLines="None"
                    Width="100%">
                    <MasterTableView Font-Names="Tahoma" Font-Size="Small" Font-Bold="true" EnableViewState="true">
                        <Columns>
                            <telerik:GridBoundColumn HeaderText="Lp." UniqueName="RowNumber" DataField="RowNumber">
                            </telerik:GridBoundColumn>
                            <telerik:GridBoundColumn HeaderText="Indeks" UniqueName="IndexSIMPLE" DataField="IndexSIMPLE">
                            </telerik:GridBoundColumn>
                            <telerik:GridBoundColumn HeaderText="Nazwa Towaru" UniqueName="MaterialName" DataField="MaterialName">
                            </telerik:GridBoundColumn>
                            <telerik:GridBoundColumn HeaderText="Ilość" UniqueName="Quantity" DataField="Quantity">
                            </telerik:GridBoundColumn>
                            <telerik:GridBoundColumn HeaderText="Jm" UniqueName="UnitName" DataField="UnitName">
                            </telerik:GridBoundColumn>
                            <telerik:GridBoundColumn HeaderText="Lokalizacja" UniqueName="Shelf" DataField="Shelf">
                            </telerik:GridBoundColumn>
                            <telerik:GridBoundColumn HeaderText="Opakowanie" UniqueName="Package" DataField="Package">
                            </telerik:GridBoundColumn>
                            <telerik:GridBoundColumn HeaderText="Przypisanie" UniqueName="OrderNumber" DataField="OrderNumber">
                            </telerik:GridBoundColumn>
                            <telerik:GridBoundColumn HeaderText="WhDocPositionId" UniqueName="WhDocPositionId"
                                DataField="WhDocPositionId" Display="false">
                            </telerik:GridBoundColumn>
                            <%--                            <telerik:GridBoundColumn HeaderText="Naklejka" UniqueName="Naklejka" DataField="" Visible="true">
                            </telerik:GridBoundColumn>--%>
                            <%--                            <telerik:GridHyperLinkColumn FooterText="HyperLinkColumn footer" DataTextFormatString="Search Google for '{0}'" DataNavigateUrlFields="CompanyName" UniqueName="CompanyName" DataNavigateUrlFormatString="http://www.google.com/search?hl=en&amp;q={0}&amp;btnG=Google+Search" HeaderText="HyperLink<br/>Column" DataTextField="WhDocPositionId"></telerik:GridHyperLinkColumn>--%>
                            <telerik:GridTemplateColumn UniqueName="TemplateLinkColumn" AllowFiltering="false"
                                HeaderText="Etykieta">
                                <ItemTemplate>
                                    <asp:HyperLink ID="Link" runat="server"></asp:HyperLink>
                                </ItemTemplate>
                            </telerik:GridTemplateColumn>
                        </Columns>
                    </MasterTableView>
                </telerik:RadGrid>
            </td>
        </tr>
    </table>
    <uc1:DocPrintLayoutFooter ID="DocPrintLayoutFooter1" runat="server" />
    </form>
</body>
<script language="javascript">
    window.print();
</script>
</html>
