﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="WarehouseManagementMaster.Master.cs" Inherits="MagWeb.WarehouseManagementMaster" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Zarządzanie konfiguracją magazynów</title>
    <asp:ContentPlaceHolder ID="HeadContentPlaceHolder" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <telerik:RadScriptManager ID="RadScriptManager1" runat="server" />
        <telerik:RadFormDecorator ID="RadFormDecorator1" runat="server" Skin="Metro" />
        
		<asp:Panel ID="Panel_Alert" runat="server" CssClass="AlertMsg">
            <p align="center">
            <asp:Label ID="Label_Alert" runat="server" Text="Alert"></asp:Label>
            </p>
        </asp:Panel> 
        <table>
            <tr>
                <td><h1><asp:Label ID="Label_Title" runat="server" Text="Zarządzanie konfiguracją magazynów"></asp:Label></h1>  
                </td>
                <td>
                    <asp:Button ID="Button_Back" runat="server" Text="Powróć" onclick="Button_Back_Click"/>
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <td>
                    <telerik:RadTabStrip ID="RadToolBar1" runat="server" OnTabClick="Tabs_OnClick" 
                        OnPreRender="Tab_Prerender" SelectedIndex="0">
                        <Tabs>
                            <telerik:RadTab runat="server" Text="Zarządzaj magazynami" 
                                Target="ManageWarehouses.aspx" Enabled="True" Selected="True">
                            </telerik:RadTab>
                            <telerik:RadTab runat="server" Text="Zarządzaj grupami magazynów" 
                                Target="ManageWarehouseGroups.aspx" Enabled="True">
                            </telerik:RadTab>                    
<%--                            <telerik:RadTab runat="server" Text="Utwórz nowy magazyn" Target="CreateWarehouse.aspx" Enabled="True">
                            </telerik:RadTab>--%>
                        </Tabs>
                    </telerik:RadTabStrip>
                </td>
            </tr>
        </table>        

            
        <asp:ContentPlaceHolder ID="BodyContentPlaceHolder" runat="server">
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>
