<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="WarehouseMaster.Master.cs" Inherits="MagWeb.WarehouseMaster" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>
<%@ Register Src="~/Controls/ChooseWarehouseControl.ascx" TagName="ChooseWarehouseControl" TagPrefix="controls" %>
<%@ Register Src="~/Controls/MenuControl.ascx" TagName="MenuControl" TagPrefix="controls" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
	<title>MAG3 - Obsługa magazynu</title>
	<link rel="shortcut icon" href="Images/favicon.ico" />
	<script type="text/javascript" src="/Scripts/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="Scripts/minFilter.js"></script>
	<asp:ContentPlaceHolder ID="HeadContentPlaceHolder" runat="server" />
</head>
<body runat="server" id="pageBody">
	<script type="text/javascript">
		function getCurrentCulture() {
			var cultureHidenFiled = document.getElementById('<%=CultureHF.ClientID%>');
			if (cultureHidenFiled) {
				var currentCulture = cultureHidenFiled.value;
				if (currentCulture) {
					return currentCulture;
				}
			}
			return "en-US";
		}

		function roundFloatUpToDecimalPlaces(stringValue, maxDecimalPlaces) {
			if (typeof (maxDecimalPlaces) === 'undefined') maxDecimalPlaces = 2;

			var defaultPrecision = Math.pow(10, maxDecimalPlaces);
			var quantityOrgDot = stringValue.replace(",", ".", "g"); // make sure we get en-US format
			var quantityOrgFloat = parseFloat(quantityOrgDot);
			var quantityOrgFloat100 = quantityOrgFloat * defaultPrecision// defaults to 100;
			var quantityOrgFloat100Int = ~ ~quantityOrgFloat100; //~~ 'changes' float to int using bitwise operations
			//var quantityOrgFloat100IntRound = Math.round(quantityOrgFloat100Int); // rounding an Int has no purpose here, sorry
			var quantity = quantityOrgFloat100Int / defaultPrecision;
			return quantity;
		}

		function formatFloatUsingCurrentLocale(number) {
			var currentCulture = getCurrentCulture(); // gets page's Culture from a hidden field set in .NET on page init
			var quantityComma = number.toLocaleString(currentCulture); // might work only on newer browsers
			return quantityComma;
		}
	</script>
	<script type="text/javascript">
		var nIntervId;
		var timeoutAmount;
		var supressNextLoading = false;	 //NOTICE: this is because we do the 'loading' part very unorthodox - after every submit

		function SubmitMainForm() {

			if (!supressNextLoading) {
				ShowLoading();
			}
			else {
				supressNextLoading = false;
			}

			return true;
		}

		function showCountDownCounter() {
			queryTimeoutField = document.getElementById('<%=QueryTimeout.ClientID%>');
			queryTimeoutFieldValue = queryTimeoutField.value;
			timeoutAmount = parseInt(queryTimeoutFieldValue);
			startCountDown();
		}

		function startCountDown() {
			nIntervId = setInterval(countDown, 1000);
		}

		function countDown() {
			var oElem = document.getElementById("<%=TimeoutCounterText.ClientID%>");
			if (timeoutAmount > 0) {
				oElem.innerHTML = (--timeoutAmount).toString();
			}
			else {
				oElem.style.display = "none";
			}
		}

		function stopCountDown() {
			clearInterval(nIntervId);
		}

		function ShowLoading() {
			$('#LoadingElement').fadeIn();
			showCountDownCounter();
		}

		function HideLoading() {
			$('#LoadingElement').fadeOut();
			clearInterval(nIntervId);
		} EnableLoadOnDemand = "true"
		EnableVirtualScrolling = "true"


		$(document).ready(function () {

			$("[title='Export to Excel']").click(function () {
				supressNextLoading = true;
			});

		});
	</script>
	<div style="z-index: 10; padding: 7px;">
		<form id="form1" runat="server" defaultbutton="btnDisableEnter" onsubmit="return SubmitMainForm();">
		<asp:HiddenField ID="CultureHF" runat="server" />
			<telerik:RadScriptManager ID="RadScriptManager1" runat="server" EnablePageMethods="true" />
			<telerik:RadFormDecorator ID="RadFormDecorator1" runat="server" Skin="Metro" />
			<div class="preMenu">
				<div class="preMenuInner">
					<div style="float: right; margin-right: 25px;">
						<asp:LinkButton CssClass="logoutButton" runat="server" OnClick="logoutButton_Click" ToolTip="Wyloguj" AlternateText="Wyloguj"> <asp:Label ID="Label_FirstAndLastName" runat="server" /> (wyloguj)</asp:LinkButton>
					</div>
					<div class="applicationInfo">
						<asp:Label ID="AppVersionLabel" runat="server" CssClass="bothMargins"></asp:Label>
						<asp:Label ID="InformationLabel" runat="server" CssClass="bothMargins"></asp:Label>
					</div>
					<div class="chooseWarehouseMenu">
						<controls:ChooseWarehouseControl ID="ChooseWarehouseControl1" runat="server" />
					</div>
				</div>
			</div>
			<div style="clear: both;">
				<div class="menuBackground">
					<%--<asp:Menu ID="Menu1" runat="server" DataSourceID="siteMapDataSource" Orientation="Horizontal" RenderingMode="Table" StaticDisplayLevels="3" StaticEnableDefaultPopOutImage="false"  />--%>
					<controls:MenuControl runat="server" />
					<asp:SiteMapDataSource ID="siteMapDataSource" runat="server" ShowStartingNode="false" />
				</div>
			<div style="clear: both; margin-bottom: 30px;">
			</div>
			<%--This whole panel is not used--%>
			<%--<asp:Panel ID="Panel_Notification" runat="server" CssClass="NotificationMsg" Style="display: none">
					<table width="100%">
						<tr>
							<td>
								&nbsp;
							</td>
							<td valign="middle" width="100">
								<img src="/Images/Icons/48x48/shadow/magic-wand2.png" />
							</td>
							<td valign="middle">
								<p align="center">
									<asp:Label ID="Label_Notification_MM" runat="server" Text="Dostarczono materiały z innych działów. Należy je <a href='InternalReceiveMaterial.aspx'>przyjąć</a>." Font-Bold="true" ForeColor="DarkGreen" Visible="false" />
								</p>
								<p align="center">
									<asp:Label ID="Label_Notification_ZaMM" runat="server" Text="Dostarczono zamówione materiały z innych działów. Należy je <a href='InternalReceiveMaterial.aspx?o=o'>przyjąć</a>." Font-Bold="true" ForeColor="DarkGreen" Visible="false" />
								</p>
								<p align="center">
									<asp:Label ID="Label_Notification_ZW" runat="server" Text="Zwrócono materiały z innych działów. Należy je <a href='InternalReceiveMaterialReturn.aspx'>przyjąć</a>." Font-Bold="true" ForeColor="DarkGreen" Visible="false" />
								</p>
								<p align="center">
									<asp:Label ID="Label_Notification_RW" runat="server" Text="Są materiały do wydania na produkcję. Należy je <a href='InternalExpenditure.aspx'>wydać</a>." Font-Bold="true" ForeColor="DarkGreen" Visible="false" />
								</p>
								<p align="center">
									<asp:Label ID="Label_Notification_ZA" runat="server" Text="Zostały zamówione materiały. Należy je <a href='InternalGiveOrderedMaterial.aspx'>wydać</a>." Font-Bold="true" ForeColor="DarkGreen" Visible="false" />
								</p>
								<p align="center">
									<asp:Label ID="Label_Notification_ZTD" runat="server" Text="Materiały przeznaczono do Zwrotu Do Dostawcy. Należy je <a href='GiveMaterialReturn.aspx'>wydać</a>." Font-Bold="true" ForeColor="DarkGreen" Visible="false" />
								</p>
							</td>
							<td>
								&nbsp;
							</td>
						</tr>
					</table>
				</asp:Panel>--%>
			<%--The above should be deleted--%>
				<asp:Panel ID="Panel_Alert" runat="server" CssClass="AlertMsg">
					<img src="/Images/Icons/32x32/shadow/lightbulb_on.png" />
					<asp:Label ID="Label_Alert" runat="server" Text="Alert Message"></asp:Label>
				</asp:Panel>
				<div style="margin-left: 2px;">
					<%--<asp:Button ID="Button_Reload" runat="server" Text="Odśwież widok i dane" OnClick="ButtonReloadClick" Visible="false" />--%>
				</div>
				<div style="min-height: 500px">
					<asp:ContentPlaceHolder ID="BodyContentPlaceHolder" runat="server" />
				</div>
			</div>
		<asp:Button ID="btnDisableEnter" runat="server" Text="" OnClientClick="return false;"
			CssClass="disableEnterButton" />
			<asp:HiddenField runat="server" ID="QueryTimeout" Value="60" />
		</form>
	</div>
	<div id="LoadingElement">
		<table width="100%" height="100%">
			<tr>
				<td valign="middle" align="center">
					
					<div class="loadingContainer">
					  <div class="gearbox">
					  <div class="overlay"></div>
						<div class="gear one">
						  <div class="gear-inner">
							<div class="bar"></div>
							<div class="bar"></div>
							<div class="bar"></div>
						  </div>
						</div>
						<div class="gear two">
						  <div class="gear-inner">
							<div class="bar"></div>
							<div class="bar"></div>
							<div class="bar"></div>
						  </div>
						</div>
						<div class="gear three">
						  <div class="gear-inner">
							<div class="bar"></div>
							<div class="bar"></div>
							<div class="bar"></div>
						  </div>
						</div>
						<div class="gear four large">
						  <div class="gear-inner">
							<div class="bar"></div>
							<div class="bar"></div>
							<div class="bar"></div>
							<div class="bar"></div>
							<div class="bar"></div>
							<div class="bar"></div>
						  </div>
						</div>
					  </div>
					  <br />
					  <b>Wczytywanie... <asp:Label runat="server" ID="TimeoutCounterText" Text=""></asp:Label></b>
					</div>


					
				</td>
			</tr>
		</table>
	</div>
	<asp:Panel ID="Panel_Devel" runat="server" Visible="True">
		<div style="color: gray; font-size: 11px; margin-left: 7px;">
			Aplikacja jest przystosowana do pracy z przeglądarką Google Chrome.
		</div>
	</asp:Panel>
</body>
</html>
