﻿.rsProductionReportEntryValid
{
	background-color:Green;
	float:left;
	width:15px;
	height:25px;
}
.rsProductionReportEntryInvalid
{
	background-color:Red;
	float:left;
	width:15px;
	height:25px;
}
.rsProductionReportEntryUnknown
{
	background-color:Yellow;
	float:left;
	width:15px;
	height:25px;
}