﻿
.printOut
{
	background-color: White;
	width: 96%;
	padding: 2%;
	font-size: 7pt;	
}

.printDate
{
	text-align: right;	
	font-size: 6pt;
	margin-bottom: 5px;
}

.printData
{
	font-weight: bold;	
}

.printOut table
{
	width: 100%;
	border: solid 1px #aaa;
}

.printHeader
{
	border: none !important;
	margin-bottom: 20px;
}

.printFooter
{
	margin-top: 70px;
	border: none !important;	
}

.printFooter td
{
	width: 50%;
	text-align: center;
}

.footerText
{
	clear: both;
	display: block;
	margin-top: 5px;
	font-size: 6pt;	
}

.printRow
{
	border: none !important;
	margin-bottom: 30px;		
}

.printRow .RadGrid_Default
{
	border: solid 1px #ddd;
}

.printRow td
{
	vertical-align: top;	
}

.printRow table
{
	border: none !important;		
}

.printRowHeader
{
	font-size: 6pt;	
	margin-bottom: 5px;			 
}

.printRowHeader tr
{
	margin-bottom: 2px;
}

.printRowHeader td
{
	width: 25%;
}

.printRowHeader td:nth-child(2)
{
	width: 46%;	
}

.printRowHeader td:nth-child(3)
{
	width: 20%;	
}

.printRowHeader td:nth-child(4)
{
	width: 10%;	
}

.printHeaderTitle
{
	display: block;
	color: #aaa;	
	font-size: 5pt;
}

.RadGrid_Default .rgRow td, .RadGrid_Default .rgAltRow td
{
	font-size: 6pt;	
	padding: 1px 0 1px 3px !important;
}

.RadGrid_Default .rgHeader 
{
	opacity: 1.0;
	border-image-width: 0;
	padding: 1px 0 0px 3px !important;
	font-size: 5pt;	
	background: none !important;	
}

.printDates
{
	font-size: 6pt;	
	width: 15%; 
	padding-left: 2%;
	text-align: right;
}

.printDates	.printData
{
	margin-bottom: 5px;
	display: block;
}