﻿
.PhotoProfileArea
{
	border: 1px solid #FFFFFF;
	float: left;
	margin-left: 30px;
	margin-top: 30px;
}

.ProfileInformation
{
	float: left;
	text-align:right;
}

.shortPersonalInfo
{
	font-family:Arial;
	color:#303E86;
	font-size:24px;
}

.shortEmailInfo
{
	font-family:Arial;
	color:#303E86;
	font-size:12px;
}

.shortPhoto
{
	width:60px;
	height:60px;
	border:solid 1px white;
	float: left;
	margin: 0px 5px 0px 5px;
	
}


.shortInfoBox
{
	border: 1px #e2e9ff;
	float: none;
	display:block;
	clear:left;	
}