/* DEFAULTS
----------------------------------------------------------*/

body   
{
	background-color: #9cc37d;
	font-family: Arial;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	color: #696969;
}

.testServer
{
	/* background-color : #C2BDBD;	*/
}

a:link, a:visited
{
	color: #329336;
}

a:hover
{
	color: #1d60ff;
	text-decoration: none;
}

a:active
{
	color: #034af3;
}

p
{
	margin-bottom: 10px;
	line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
	font-size: 1.5em;
	color: #666666;
	font-variant: small-caps;
	text-transform: none;
	font-weight: 200;
	margin-bottom: 0px;
}

h1
{
	font-size: 1.6em;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

h2
{
	font-size: 1.5em;
	font-weight: 600;
}

h3
{
	font-size: 1.2em;
}

h4
{
	font-size: 1.1em;
}

h5, h6
{
	font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
	margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
	width: 960px;
	background-color: #fff;
	margin: 20px auto 0px auto;
	border: 1px solid #496077;
}

.header
{
	position: relative;
	margin: 0px;
	padding: 0px;
	background: #4b6c9e;
	width: 100%;
}

.header h1
{
	font-weight: 700;
	margin: 0px;
	padding: 0px 0px 0px 20px;
	color: #f9f9f9;
	border: none;
	line-height: 2em;
	font-size: 2em;
}

.main
{
	padding: 0px 12px;
	margin: 12px 8px 8px 8px;
	min-height: 420px;
}

.leftCol
{
	padding: 6px 0px;
	margin: 12px 8px 8px 8px;
	width: 200px;
	min-height: 200px;
}

.footer
{
	color: #4e5766;
	padding: 8px 0px 0px 0px;
	margin: 0px auto;
	text-align: center;
	line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
	background-color:#3a4f63;
	width:100%;
}

div.menu
{
	padding: 4px 0px 4px 8px;
}

div.menu ul
{
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
	background-color: #465c71;
	border: 1px #4e667d solid;
	color: #dde4ec;
	display: block;
	line-height: 1.35em;
	padding: 4px 20px;
	text-decoration: none;
	white-space: nowrap;
}

div.menu ul li a:hover
{
	background-color: #bfcbd6;
	color: #465c71;
	text-decoration: none;
}

div.menu ul li a:active
{
	background-color: #465c71;
	color: #cfdbe6;
	text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
	margin: 1em 0px;
	padding: 1em;
	border: 1px solid #ccc;
}

fieldset p 
{
	margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
	display: block;
}

fieldset label.inline 
{
	display: inline;
}

legend 
{
	font-size: 1.1em;
	font-weight: 600;
	padding: 2px 4px 8px 4px;
}

input.textEntry 
{
	width: 320px;
	border: 1px solid #ccc;
}

input.passwordEntry 
{
	width: 320px;
	border: 1px solid #ccc;
}

div.accountInfo
{
	width: 42%;
}

fieldset
{
	padding: 5px 5px 5px 5px;
}

legend img
{
	padding: 2px 2px 2px 2px;
	vertical-align:middle;
}

.separator
{
	width:10px;
	height:60px;
}

.rgRow td, .rgAltRow td  
{
    font-weight: normal;    
    font-size:0.9em;
}
.RadGrid .rgRow td, .RadGrid .rgAltRow td, .RadGrid .rgEditRow td, .RadGrid .rgFooter td, .RadGrid .rgFilterRow td, .RadGrid .rgHeader, .RadGrid .rgResizeCol, .RadGrid .rgGroupHeader td {
    padding-left: 2px !important;
    padding-right: 2px !important;
}
.rgHeader
{
    opacity: 0.7;    
}

/* MISC  
----------------------------------------------------------*/

.clear
{
	clear: both;
}

.title
{
	display: block;
	float: left;
	text-align: left;
	width: auto;
}

.loginDisplay
{
	font-size: 1.1em;
	display: block;
	text-align: right;
	padding: 10px;
	color: White;
}

.loginDisplay a:link
{
	color: white;
}

.loginDisplay a:visited
{
	color: white;
}

.loginDisplay a:hover
{
	color: white;
}

.failureNotification
{
	font-size: 1.2em;
	color: Red;
}

.bold
{
	font-weight: bold;
}

.submitButton
{
	text-align: right;
	padding-right: 10px;
}


/* Default CSS Stylesheet for a new Web Application project */

body
{
	font-family: Tahoma;
	font-size: 14px;
	margin: 0px;
}

a
{
	color: darkgreen;	
}

a:hover
{
	color: Green;	
}

input[type=checkbox] 
{

-webkit-appearance:checkbox !important;
}

/* SQUARED THREE */
.squaredThree {
 width: 20px; 
 margin: 20px auto;
 position: relative;
}
 
.squaredThree label {
 cursor: pointer;
 position: absolute;
 width: 20px;
 height: 20px;
 top: 0;
 border-radius: 4px;
 
 -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
 -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
 box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
 
 background: Darkblue !important;
 background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
 background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
 background: -o-linear-gradient(top, #222 0%, #45484d 100%);
 background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
 background: linear-gradient(top, #222 0%, #45484d 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}
 
.squaredThree label:after {
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
 filter: alpha(opacity=0);
 opacity: 0;
 content: '';
 position: absolute;
 width: 9px;
 height: 5px;
 background: transparent;
 top: 4px;
 left: 4px;
 border: 3px solid #fcfff4;
 border-top: none;
 border-right: none;
 
 -webkit-transform: rotate(-45deg);
 -moz-transform: rotate(-45deg);
 -o-transform: rotate(-45deg);
 -ms-transform: rotate(-45deg);
 transform: rotate(-45deg);
}
 
.squaredThree label:hover::after {
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
 filter: alpha(opacity=30);
 opacity: 0.3;
}
 
.squaredThree input[type=checkbox]:checked + label:after {
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
 filter: alpha(opacity=100);
 opacity: 1;
}
 
 
 Checkbox_ExportToSIMPLE label {
 cursor: pointer;
 position: absolute;
 width: 20px;
 height: 20px;
 top: 0;
 border-radius: 4px;
 
 -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
 -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
 box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
 
 background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
 background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
 background: -o-linear-gradient(top, #222 0%, #45484d 100%);
 background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
 background: linear-gradient(top, #222 0%, #45484d 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}
 
Checkbox_ExportToSIMPLE label:after {
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
 filter: alpha(opacity=0);
 opacity: 0;
 content: '';
 position: absolute;
 width: 9px;
 height: 5px;
 background: transparent;
 top: 4px;
 left: 4px;
 border: 3px solid #fcfff4;
 border-top: none;
 border-right: none;
 
 -webkit-transform: rotate(-45deg);
 -moz-transform: rotate(-45deg);
 -o-transform: rotate(-45deg);
 -ms-transform: rotate(-45deg);
 transform: rotate(-45deg);
}
 
.Checkbox_ExportToSIMPLE label:hover::after {
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
 filter: alpha(opacity=30);
 opacity: 0.3;
}
 
.Checkbox_ExportToSIMPLE input[type=checkbox]:checked + label:after {
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
 filter: alpha(opacity=100);
 opacity: 1;
}
 
 
body.warehouse
{
	font-weight: normal;
	font-size: 0.8em;
	word-spacing: normal;
	text-transform: none;
	font-family: Tahoma, Helvetica, sans-serif;
	letter-spacing: normal;
}

body.Print
{
	font-weight: normal;
	font-size: 0.8em;
	word-spacing: normal;
	text-transform: none;
	font-family: Tahoma, Tahoma, sans-serif;
	letter-spacing: normal;
	background-color: white;
}

h1, h2, h3, h4, h5, th, thead, tfoot
{
	COLOR: #003366;
}

h1	{	
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:	2em;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
h2	{	
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:	1.75em;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
h3	{	
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:	1.58em;
	font-weight:	500;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
h4	{	
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:	1.33em;
	font-weight:	500;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
h5, dt	{	
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:	1em;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
h6	{	
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:	.8em;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
thead, tfoot	{	
	font-size:	1em;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	font-family: Arial, Helvetica, sans-serif;
	}	
		
th	{	
	vertical-align:	baseline;
	font-size:		1em;
	font-weight:	bold;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	font-family: Arial, Helvetica, sans-serif;
	}	
	
legend 
{
	font-family: Arial;
	font-size: 24px;
	color:darkgreen;
}	


SMALL	{	
	font-size:	.7em;
	}	

BIG	{	
	font-size:	1.17em;
	}	

BLOCKQUOTE, PRE	{	
	font-family:	Courier New, monospace;
	}	
	

UL LI	{	
	list-style-type:	square ;
	}	

UL LI LI	{	
	list-style-type:	disc;
	}	

UL LI LI LI	{	
	list-style-type:	circle;
	}	
	
OL LI	{	
	list-style-type:	decimal;
	}	

OL OL LI	{	
	list-style-type:	lower-alpha;
	}	

OL OL OL LI	{	
	list-style-type:	lower-roman;
	}	

IMG.warehouse 	{
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
	}
Input.Button, Input.Text, Select.Select, Span.Label, Span.Label_2, Div.Panel
{
	font-size: small;
	/*border-left-color: darkblue;
	border-bottom-color: blue;
	border-top-color: darkblue;
	border-right-color: blue;
	*/
	color: Blue;
	font-family: Arial, Tahoma;
}
Input.Button, Input.Text, Select.Select
{
	background-color: #CCFFCC;
}

Span.Label_1, label.Label_1
{
	font-size: large;
	color: #00008B;
}

Span.Label_3, label.Label_3
{
	font: bold;
	color: #00008B;
}

Span.Label_4, label.Label_4
{
	font-size: smaller;
	color: black;
}

th.header, td.header
{		
	background-color: Silver;
}

th.header, td.header
{
	font-style: oblique;
}

th.header_1, td.header_1
{
	background-color: Gray;
}

td.Cell_1, td.Cell_2, td.Cell_5, th.header, 
td.Select, td.header,
th.header_1, td.header_1, td.Cell_3, td.Cell_4,
td.HighLight_1, td.HighLight_2, td.HighLight_3
{
	Border-Style: Solid;
}
td.Cell_1, td.Cell_2, th.Print, th.Print_Left,
th.Print_Right, th.Print_Center,td.Select,
th.header, td.header, th.Print_Left,
th.header_1, td.header_1, td.Cell_3, td.Cell_4, td.Cell_5,
td.HighLight_1, td.HighLight_2, td.HighLight_3
{
	Border-Width: 1px;
	border-color: #00008B;
	padding:1px;
	border-bottom-style: Solid;
}

th.header_1, td.header_1, td.Cell_3, td.Cell_4
{
	font-size: medium;
}

td.Cell_1, a.Link_1,th.Print_Left, td.Cell_3,
th.Print_Right, th.Print, th.Print_Center, th.Print_Left
{
	background-color: White;
	
}

tD.Cell_5
{
	background-color: #CCFFFF;
	
}

th.Print_Left
{
	text-align: left;
}

th.Print_Right
{
	text-align: right;
}

th.Print_Center
{
	text-align: center;
}

td.Cell_2, a.Link_2, td.Cell_4
{
	background-color: #33CCFF;
}
td.Select, a.Select
{
	background-color: #000066;
	color: #FFFF00;
}

td.HighLight_1
{
	background-color: Red;
	color: White;
}

td.HighLight_2
{
	background-color: Yellow;
	color: Blue;
}

td.HighLight_3
{
	background-color: Green;
	color: Silver;
}

div.Panel
{
	Z-INDEX: 101;
	LEFT: 0px;
	POSITION: absolute;
	TOP: 10px;
	Height: 216px;
	Width: 90%;
	text-align : center;
}

th.Print_1, td.Print_1,
th.Print_2, td.Print_2,
th.Print_3, td.Print_3,
th.Print_4, td.Print_4
{
	Border-Width: 1px;
	border-color: #00008B;
	padding: 5px;
	margin: 5px;
	border-style: Solid;	
}

Span.Label_2,
th.Print_4, td.Print_4
{
	text-align: left;
	font-style: normal;
	font-weight: bold;	
}

th.Print_2, td.Print_2
{
	font-size: medium;
	text-align: center;
	font-style: normal;
	font-weight: bold;
}

th.Print_3, td.Print_3
{
	font-size: x-large;
	font-style: normal;
	font-weight: bold;
}

td.Sobota
{
	color:GrayText;
	background-color: Yellow;
}

.Niedziela
{
	background-color:Silver;
	color:Red;
}

.Inny1
{
	background-color:White;
	color:Black;
}

.Inny2
{
	background-color:Lime;
	color:Blue;
}

.searchTable tr	> td
{
	padding-bottom: 10px;
	padding-right: 10px;
}

.formTable tr > td
{
	padding: 5px;
	color: gray;
	font-size: 9pt;
}

.labelSearch
{
	min-width: 40px;
	color: darkgreen;
	display: block;
	font-size: 11px;
}

Span.Search
{
	width:200px;
}

div.floatLeft
{
	float: left;
	padding: 5px;
	width:160px;
	min-width: 160px;
}

.ConfirmationMessage
{
	background-color: #F0E68C;
}

.AlertMsg
{
	background-color: #F0E68C;
	border-radius: 15px;
	padding: 15px;
	margin: 0px 20px 0px 20px;
	font-size: 10pt;
}

.AlertMsg span
{
	margin-left: 15px;
	display: inline-block;
}

.AlertMsg img
{
	display: inline-table;
	vertical-align: super;
	margin-left: 10px;
}

.NotificationMsg
{
	background-color: #caffb7;
}

.Logo
{
	text-align: center;
	position: fixed;
	top: 10px;
	left: 50%;
	right: 50%;
}

.RadTabStripTop_Metro .rtsLevel1, .RadTabStrip_Metro .rtsLevel1 .rtsUL 
{
	background-color: #56b906 !important;    
}

.changeWarehouseButton
{
	font-weight: bold;
}

.RadTabStrip_Metro .rtsLevel1 .rtsLink 
{
	border: 0px !important;    
}
					
.disableEnterButton
{
	display: none;
}

.bothMargins
{
	margin-left: 7px;
	margin-right: 7px;
	font-size: 12px;
	font-family: "Segoe UI",Arial,Helvetica,sans-serif;
}

.menuBackground
{
	background-color: #56b906; 
	margin: -7px; 
	padding-left: 10px;	
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.level1 li
{
	list-style-type: none;	
	border-left: solid 1px rgba(0, 0, 0, 0.1); 
}

.level1 a:hover
{
	background-color: rgba(255, 255, 255, 0.1); 	
}

.level1 li a
{
	padding: 10px 22px 10px 22px !important;
	color: White;
	display:inline-block
}

ul .level2
{
	background-color: #56b906;	
	border: solid 1px rgba(0, 0, 0, 0.1);
	border-top: none; 
}

.level2 li a
{
	background: none;	
	border: none;
}

.level2 li
{
	border: none;
}

.chooseWarehouseMenu
{
	margin-left: 10px;
}

.chooseWarehouseMenu a
{
	font-size: 8pt;
	margin-left: 20px;	
}

.tableHeaderCheckbox
{
	vertical-align: middle;	
}

.inputPanel
{
	background-color: rgba(255,255,255,0.4); 
	border-radius: 15px; 
	padding: 10px; 
	margin-top: 5px;	
	margin-bottom: 5px;	
}

.inputPanel h3
{
	margin-top: 0px;	
}

.rgHeader 
{
	font-size: 8pt;	
	vertical-align: middle;
}

.tableFilter
{
	padding: 4px;
	margin-left: 0px;	
	width: 50%;
	border-radius: 5px;
	border: solid 1px rgba(0, 0, 0, 0.2);
}

.rgNoRecords td	div
{
	color: rgba(0,0,0,0.3);
	font-weight: normal;

	display: block;
	text-align: center;
	padding: 10px;
}

.RadGrid_Metro
{
	border: none !important;	
}

.RadGrid_Metro .rgGroupPanel
{
	display: none;
}

.RadGrid_Metro .rgExpXLS 
{
	position: absolute;
	margin-top: 13px;
	margin-left: -30px;
	z-index: 999;
	padding: 10px;
	background-color: white;
	width: 40px;
	height: 30px;
	background-position: 15px 5px;
}

.RadGrid_Metro .rgCommandCell
{
	padding: 0px;
}


.RadGrid_Metro .rgCommandTable tr
{
	padding: 0px;
}

.RadGrid_Metro .rgCommandTable td
{
	padding: 0px;	
	visibility: hidden;
}

.RadGrid_Metro .rgCommandTable td input
{
	visibility: visible;
}

.RadGrid_Metro .rgCommandTable 
{
	border: 0;
	float: right;
	z-index: 4;
	width: 20px !important;
	display: table;
	padding-right: 20px;
	background-color: white;
	margin-top: 5px;
	margin-bottom: -20px;	
}


/* ------------------------------------------ loading animation */

#LoadingElement
{
	display:none; 
	background-color: #000; 
	opacity: 0.6; 
	filter: alpha(opacity=60); 
	position: fixed; 
	left: 0px; 
	top: 0px; 
	width: 100%; 
	height: 100%; 
	z-index: 999;	

	font-family: Trebuchet MS;
}

@-webkit-keyframes clockwise {
  0% {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
  }

  100% {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
  }
}

@-moz-keyframes clockwise {
  0% {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
  }

  100% {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
  }
}

@-webkit-keyframes counter-clockwise {
  0% {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
  }

  100% {
	-webkit-transform: rotate(-360deg);
	-moz-transform: rotate(-360deg);
	-ms-transform: rotate(-360deg);
	-o-transform: rotate(-360deg);
	transform: rotate(-360deg);
  }
}

@-moz-keyframes counter-clockwise {
  0% {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
  }

  100% {
	-webkit-transform: rotate(-360deg);
	-moz-transform: rotate(-360deg);
	-ms-transform: rotate(-360deg);
	-o-transform: rotate(-360deg);
	transform: rotate(-360deg);
  }
}

.loadingContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  height: 150px;
  width: 200px;
  margin-top: -75px;
}

.gearbox {
  background: #111111;
  height: 150px;
  width: 200px;
  position: relative;
  border: none;
  overflow: hidden;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
}
.gearbox .overlay {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  -webkit-box-shadow: inset 0px 0px 20px black;
  -moz-box-shadow: inset 0px 0px 20px black;
  box-shadow: inset 0px 0px 20px black;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
}
.gearbox.turn .overlay {
  background: rgba(0, 0, 0, 0);
}

.gear {
  position: absolute;
  height: 60px;
  width: 60px;
  -webkit-box-shadow: 0px -1px 0px 0px #888888, 0px 1px 0px 0px black;
  -moz-box-shadow: 0px -1px 0px 0px #888888, 0px 1px 0px 0px black;
  box-shadow: 0px -1px 0px 0px #888888, 0px 1px 0px 0px black;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}
.gear.large {
  height: 120px;
  width: 120px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
.gear.large:after {
  height: 96px;
  width: 96px;
  -webkit-border-radius: 48px;
  -moz-border-radius: 48px;
  -ms-border-radius: 48px;
  -o-border-radius: 48px;
  border-radius: 48px;
  margin-left: -48px;
  margin-top: -48px;
}
.gear.one {
  top: 12px;
  left: 10px;
}
.gear.two {
  top: 61px;
  left: 60px;
}
.gear.three {
  top: 110px;
  left: 10px;
}
.gear.four {
  top: 13px;
  left: 128px;
}
.gear:after {
  content: "";
  position: absolute;
  height: 36px;
  width: 36px;
  -webkit-border-radius: 36px;
  -moz-border-radius: 36px;
  -ms-border-radius: 36px;
  -o-border-radius: 36px;
  border-radius: 36px;
  background: #111111;
  top: 50%;
  left: 50%;
  margin-left: -18px;
  margin-top: -18px;
  z-index: 3;
  -webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0, 0, 0, 0.1), inset 0px 2px 0px 0px #080808, inset 0px -1px 0px 0px #888888;
  -moz-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0, 0, 0, 0.1), inset 0px 2px 0px 0px #080808, inset 0px -1px 0px 0px #888888;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0, 0, 0, 0.1), inset 0px 2px 0px 0px #080808, inset 0px -1px 0px 0px #888888;
}

.gear-inner {
  position: relative;
  height: 100%;
  width: 100%;
  background: #555555;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.large .gear-inner {
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
.gear.one .gear-inner {
  -webkit-animation: counter-clockwise 3s infinite linear;
  -moz-animation: counter-clockwise 3s infinite linear;
}
.gear.two .gear-inner {
  -webkit-animation: clockwise 3s infinite linear;
  -moz-animation: clockwise 3s infinite linear;
}
.gear.three .gear-inner {
  -webkit-animation: counter-clockwise 3s infinite linear;
  -moz-animation: counter-clockwise 3s infinite linear;
}
.gear.four .gear-inner {
  -webkit-animation: counter-clockwise 6s infinite linear;
  -moz-animation: counter-clockwise 6s infinite linear;
}
.gear-inner .bar {
  background: #555555;
  height: 16px;
  width: 76px;
  position: absolute;
  left: 50%;
  margin-left: -38px;
  top: 50%;
  margin-top: -8px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.large .gear-inner .bar {
  margin-left: -68px;
  width: 136px;
}
.gear-inner .bar:nth-child(2) {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}
.gear-inner .bar:nth-child(3) {
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
}
.gear-inner .bar:nth-child(4) {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.gear-inner .bar:nth-child(5) {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}
.gear-inner .bar:nth-child(6) {
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  transform: rotate(150deg);
}

/* menu */

.preMenuInner
{
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) , rgba(0, 0, 0, 0.1)); /* For Safari */
	background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) , rgba(0, 0, 0, 0.1)); /* Standard syntax */
	
	padding-bottom: 25px; padding-top: 15px; 
}

.preMenu
{
	margin: -7px;	
	background-color: #56b906;
}

.preMenu a
{
	color: White;
}

.applicationInfo
{
	color: rgba(255, 255, 255, 0.4);
	margin-left: 3px;	
	margin-bottom: 5px;
}

.topNode
{
	padding: 10px 30px 10px 20px;
	float: left;
	color: White;	
	cursor: pointer;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	/*text-transform: uppercase;*/
	font-family: Tahoma;
}

.subMenuNode
{
	color: White;	
}

.currentNode
{
	background-color: rgba(0, 100, 0, 0.6);		
}

.subMenuNode
{
	display: table-cell;
	padding: 10px 30px 10px 20px;
	cursor: pointer;
	text-transform: lowercase;
	font-family: Tahoma;
	font-size: 10pt;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.menuItems
{
	clear: left;
	margin-left: -10px;
	display: none;	
}

.menuItems.currentNode
{
	display: block;
}

.panelLabel
{
	text-align: right;
	margin-bottom: 5px;
	font-size: 8pt;	
}

input[type="search"]
{
	margin-left: 0px;
	margin-bottom: 3px;
	padding: 4px;	
	border: none;
}
