﻿.ToolBarPanel
{
	position:relative;
	top:0px;
	left:0px;
	margin-top:0px;
	margin-left:0px;
	width:100%;
	height:77px;
	background-repeat:repeat-x;
	background-image: url('Images/toolbar_bcg.gif');
}

.Toolbar
{
	position:absolute;
	left:380px;
	height:75px;
	top: 10px;
}
.ToolbarButton
{
	border: 0px none #FFFFFF;
	position: relative;
	display: inline;
	font-family: Arial;
	font-size: 10px;
	color: White;
	float: left;
	padding-right: 10px;
}
a.ToolbarButton 
{
	text-decoration:none;
	border: 0px none #FFFFFF;
}
a img { border: 0 }

.Decorator
{
	position:absolute;
	top:1px;
	left:0px;
	width:425px;
	height:75px;
	background-image: url('Images/toolbar_left_bcg.gif');
	display:inline;
}
.PersonalInfo
{
	font-family:Arial;
	color:White;
	font-size:24px;
	display:inline;
	left:140px;
	top:5px;
	position:absolute;
}


.DeptInfo
{
	font-family:Arial;
	color:White;
	font-size:15px;
	display:inline;
	left:140px;
	top:30px;
	position:absolute;
}

.Photo
{
	border: solid 1px white;
	width: 60px;
	height: 65px;
	position: absolute;
	top: 5px;
	left: 70px;
}

.Logo
{
	width:190px;
	height:75px;
	background-image: url('Images/logo.gif');	
	position:relative;
	margin-right:5px;
	margin-left:auto;
	margin-top:2px;
}

.LogoutArea
{
	display:inline;
	position:absolute;
	top:16px;
	left:20px;
}


.InnerPanel 
{
	background-color: #dee4ff;
}